@use './mixins.scss';

:root {

  --include-purple: #3c257e;
  --purple-gradient: linear-gradient(68deg,#332950 10.09%,#3c257e 50.92%,#322d41 93.48%);
  --lilac-gradient: linear-gradient(68deg,#a48af0 10.09%,#b29bf1 50.92%,#b9afd9 93.48%);

  --text-black-dark: #000;
  --text-black-light: #414141;
  --text-white: #fff;
  --text-grey: #d0d0d0;
  --grey-background-card: hsla(0,0%,100%,.1);
  --grey-background: rgba(0,0,0,.1);
  --spacer: 48px;
  --edge-spacer: 265px;
  --med-edge-spacer: 100px;
  --small-edge-spacer: 25px;

//   Default stuff
  --color1: #4287f5;
  --color2: #eba134;

  --text-color1: #4a5566;
  --text-color2: #f0f6ff;

  --navbar-height: 80px;
}

@media screen and (max-width: 800px) {
  :root {
    --navbar-height: 60px;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Inter', sans-serif;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--text-primary);
}