.container {
    width: 200px;
    height: 40px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: purple;
    border: 0;
}

.container:hover {
    background-color: blanchedalmond;
}