@use '/app/(pages)/_styles/mixins.scss';

.card {
    --frost-background: rgba(255, 255, 255, 0.1);
    h5 {
        font-weight: 400;
    }

    background-color: var(--frost-background);
    padding: 30px;
    
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 20px;
    border-radius: 20px;
    max-width: 524px;

    @include mixins.phone {
        max-width: none;
    }
}

.cardContent {
    display: flex;
    flex-direction: column;
    gap: 32px;

    hr {
        border: none;
        height: 1px;
        background-color: var(--frost-background);
    }
}


.cardButton {
    display: flex;
    background-color: var(--frost-background);
    border: none;
    gap: 10px;
    align-items: center;
    justify-content: center;
    padding: 20px 0;
    border-radius: 100px;
    font-size: 1.125rem;
    color: white;
    cursor: pointer;
}

.upperContent {
    font-size: 1.125rem;
    color: var(--secondary-text);

    display: flex;
    flex-direction: column;
    gap: 8px;
}

.imageContainer {
    max-height: 300px;
    aspect-ratio: 1.75;
    position: relative;
    
    @include mixins.phone {
        max-height: none;
    }
}

.workImage {
    border-radius: 8px;
}

.lowerContent {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.lowerText {
    display: flex;
    flex-direction: column;
    gap: 8px;

    * {
        font-size: 1.5rem;
    }

    @include mixins.phone {
        * {
            font-size: 1.125rem;
        }
    }
}

.lowerText p {
    color: var(--secondary-text);
}