.container {
    width: 100%;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 5%;
}

.div_card {
    width: 40%;
    max-width: 580px;
    background-color: pink;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}

.div_card_logo {
    width: 90%;
    aspect-ratio: 5 / 3;

    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.img_card_logo {
    width: 100%;
    height: auto;
}