@use 'app/(pages)/mixins';

.card {
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    color: var(--text-grey);
    background-color: var(--grey-background-card);
    padding: 30px;
    border-radius: 24px;
    
    box-sizing: border-box;
    background: hsla(0,0%,100%,.1);
    width: calc(50% - 16px);
    height: 700px;
    row-gap: 16px;

    p {
        font-size: 1.5rem;
    }

    @include mixins.sm-desktop {
        p {
            font-size: 1.4rem;
        }
    }

    @include mixins.tablet {
        p {
            font-size: 1.2rem;
        }
    }

    @include mixins.phone {
        width: 90%;

        p {
            font-size: 1.5rem;
        }
    }

    // border: 1px red solid
}

.image_container {
    position: relative;
    width: 100%;
    height: 45%;
    overflow: hidden;
    border-radius: 8px;
    margin: 8px 0px;
    // border: 1px red solid

    @include mixins.tablet {
        height: 27%;
    }
    
    @include mixins.phone {
        height: 35%;
    }

}

.text {
    // border: 1px red solid;
    line-height: 1.2;
    height: 25%;

    @include mixins.phone {
        height: 30%;
    }
}

.client_name {
    color: var(--text-white);
    padding-bottom: 16px;
}

.visit_button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1%;
    width: 100%;
    padding: 24px 0px;

    border-radius: 36px;
    text-decoration: none;
    color: var(--text-white);
    background: hsla(0,0%,100%,.1);
}

.visit_button:hover {
    background: hsla(0, 0%, 100%, 0.148);
}

.dot {
    color: #0acf83;
}


