.main {
    --include-purple: #3C257E;
    --gradient-dark: #332950;

    --top-height: 400px;
    --gap-size: 250px;
    --main-padding: 50px;
    height: 100%;

    h2 {
        font-size: 3.785rem;
    }
}

.body {
    font-size: 10rem;
    color: var(--text-color1);
    height: 100%;
}

.topSection {
    width: 100%;
}

.topContent {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;

    padding: var(--main-padding);
    padding-bottom: calc(var(--gap-size) * 0.5 + var(--main-padding));

    h2 {
        text-align: center;
    }
}

.designImageContainer {
    width: 60%;
    aspect-ratio: 2;
    max-width: 900px;
    position: relative; // necessary for Image fill
    transform: translateY(-50%);
}

.designImage {
    border-radius: 20px;
}

.bottomSection {
    background-color: var(--include-purple);
    color: white;

    display: flex;
    flex-direction: column;
    align-items: center;
    height: 600px; //temporary

    padding: var(--main-padding);
    padding-top: 0;
}

