.main {
    --include-purple: #3C257E;
    --gradient-dark: #332950;

    --top-height: 400px;
    --gap-size: 250px;
    --main-padding: 50px;

    h2 {
        font-size: 3.875rem;
    }
    h3 {
        font-size: 3.25rem;
    }
}

.body {
    font-size: 10rem;
    color: var(--text-color1);
}

.topSection {
    height: calc(500px + var(--main-padding) * 2);
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    padding-bottom: 225px;

    h2 {
        width: 60%;
        text-align: center;
    }
}

.designImage {
    width: 60%;
    max-width: 900px;
    aspect-ratio: 2;
    position: relative; // necessary for Image fill
    transform: translateY(-50%);

    background: url("../../../public/design-home.png") 100% / cover no-repeat;
    border-radius: 20px;
}

.bottomSection {
    background-color: var(--include-purple);
    color: white;

    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: var(--gap-size);
}

.bottomContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--gap-size);
    
}

.recentWork, .ourPillars {
    display: flex;
    flex-direction: column;
    gap: 32px;
    align-items: center;
}

.recentWorkTitleIcon {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
}

.ourPillarsHeader {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}